<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="Microsoft.ServiceModel.Samples.GZipMessageEncodingElement, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <client>
      <endpoint address="http://localhost:51821/DXGridService.svc"
                name="InterLinqServiceNetTcp_local"
                contract="InterLinq.IQueryRemoteHandler"
                binding="customBinding" bindingConfiguration="InterLinqNetTcpBinding" />
      <endpoint address="http://demos.devexpress.com/DXGridServerModeService/DXGridService.svc"
                name="InterLinqServiceNetTcp"
                contract="InterLinq.IQueryRemoteHandler"
                binding="customBinding" bindingConfiguration="InterLinqNetTcpBinding" />
      <metadata>
        <policyImporters>
          <extension type="Microsoft.ServiceModel.Samples.GZipMessageEncodingBindingElementImporter, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </policyImporters>
      </metadata>
    </client>
    <bindings>
      <customBinding>
        <binding name="InterLinqNetTcpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" >
          <gzipMessageEncoding innerMessageEncoding="binaryMessageEncoding">
          </gzipMessageEncoding>
          <!--<binaryMessageEncoding>
            <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          </binaryMessageEncoding>-->
          <!--<httpTransport maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>-->
          <httpTransport manualAddressing="false" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
     authenticationScheme="Anonymous"
     bypassProxyOnLocal="false"
     hostNameComparisonMode="StrongWildcard"
     proxyAuthenticationScheme="Anonymous"
     realm=""
     useDefaultWebProxy="true" />

        </binding>
      </customBinding>

    </bindings>
  </system.serviceModel>
</configuration>